<li>
  <%= gravatar_for(user, size: 50) %>
  <%= link_to(user.name, user_path(user)) %>
  <% if (current_user.admin? && !current_user?(user)) %>
    | <%= link_to("delete", user_path(user), data: { "turbo-method": :delete, turbo_confirm: "You sure?"}) %>
  <%end %>
</li>