<% provide(:title, t("static_pages.signup")) %>
<% provide(:button_text, "Create my account") %>
<h1><%= t("static_pages.signup") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render('layouts/form') %>
  </div>
</div>
